<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define PROJECTPATH = "$(var.SinsDataConverter.UI.ProjectDir)"?>
  <?define BUILDPATH = "$(var.SinsDataConverter.UI.TargetDir)"?>
  <?define VERSION = "!(bind.FileVersion.SinsDataConverter.exe)"?>
  
	<Product Id="*" Name="Sins Data Converter" Language="1033" Version="$(var.VERSION)" Manufacturer="Philip Fulgham" UpgradeCode="64c5ce06-55d0-4a73-901d-271f8b1242f1">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade
      AllowSameVersionUpgrades="yes"
      DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Sins Data Converter" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <Icon Id="logo.ico" SourceFile="$(var.BUILDPATH)\SinsDataConverter.exe"/>
    <Property Id="ARPPRODUCTICON" Value="logo.ico" />

    <UI>
      <UIRef Id="WixUI_Minimal" />
    </UI>

    <WixVariable Id="WixUILicenseRtf" Value="../LICENSE" />
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Sins Data Converter" />
			</Directory>
		</Directory>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="SinsDataConverter.exe" Guid="aff381ef-46f7-471b-af58-92ee6b6aff4b">
        <File Id="SinsDataConverter.exe" Source="$(var.BUILDPATH)\SinsDataConverter.exe" />
			</Component>
      <Component Id="Microsoft.Win32.Registry.dll" Guid="6ca5a80f-6605-4846-861e-ca414d1199dc">
        <File Id="Microsoft.Win32.Registry.dll" Source="$(var.BUILDPATH)\Microsoft.Win32.Registry.dll" />
      </Component>
      <Component Id="RunProcessAsTask.dll" Guid="1c881270-5bfb-4b66-8a50-d743fa325c7d">
        <File Id="RunProcessAsTask.dll" Source="$(var.BUILDPATH)\RunProcessAsTask.dll" />
      </Component>
      <Component Id="SinsDataConverter.Core.dll" Guid="c90e8cb5-1255-4bdb-8f3a-68805c1884b2">
        <File Id="SinsDataConverter.Core.dll" Source="$(var.BUILDPATH)\SinsDataConverter.Core.dll" />
      </Component>
      <Component Id="System.Data.Common.dll" Guid="d9b2a887-9b5e-47a5-91a8-98a29760b036">
        <File Id="System.Data.Common.dll" Source="$(var.BUILDPATH)\System.Data.Common.dll" />
      </Component>
      <Component Id="System.Diagnostics.StackTrace.dll" Guid="c1792978-d2e9-4f4e-a17b-4d61e94daa74">
        <File Id="System.Diagnostics.StackTrace.dll" Source="$(var.BUILDPATH)\System.Diagnostics.StackTrace.dll" />
      </Component>
      <Component Id="System.Diagnostics.Tracing.dll" Guid="7e074def-2fea-4146-8d32-247c048a40dc">
        <File Id="System.Diagnostics.Tracing.dll" Source="$(var.BUILDPATH)\System.Diagnostics.Tracing.dll" />
      </Component>
      <Component Id="System.Globalization.Extensions.dll" Guid="569c8087-561b-4f0d-ab9b-d1fdc9134ad2">
        <File Id="System.Globalization.Extensions.dll" Source="$(var.BUILDPATH)\System.Globalization.Extensions.dll" />
      </Component>
      <Component Id="System.IO.Compression.dll" Guid="917a7668-768d-46ad-98b1-9e560773fc23">
        <File Id="System.IO.Compression.dll" Source="$(var.BUILDPATH)\System.IO.Compression.dll" />
      </Component>
      <Component Id="System.Net.Http.dll" Guid="108249d6-f392-4d4d-8742-a4ebbdbe12e4">
        <File Id="System.Net.Http.dll" Source="$(var.BUILDPATH)\System.Net.Http.dll" />
      </Component>
      <Component Id="System.Net.Sockets.dll" Guid="078ba28d-0363-4348-91b1-4774a34fbed4">
        <File Id="System.Net.Sockets.dll" Source="$(var.BUILDPATH)\System.Net.Sockets.dll" />
      </Component>
      <Component Id="System.Runtime.Serialization.Primitives.dll" Guid="66ae6c65-9eb2-407f-ad3a-1ac3f70f82f9">
        <File Id="System.Runtime.Serialization.Primitives.dll" Source="$(var.BUILDPATH)\System.Runtime.Serialization.Primitives.dll" />
      </Component>
      <Component Id="System.Security.AccessControl.dll" Guid="89604986-f0b9-49c2-bc58-2a42955abf45">
        <File Id="System.Security.AccessControl.dll" Source="$(var.BUILDPATH)\System.Security.AccessControl.dll" />
      </Component>
      <Component Id="System.Security.Cryptography.Algorithms.dll" Guid="39389c26-6bbd-4fbb-b1fd-0d0c7e37839e">
        <File Id="System.Security.Cryptography.Algorithms.dll" Source="$(var.BUILDPATH)\System.Security.Cryptography.Algorithms.dll" />
      </Component>
      <Component Id="System.Security.Principal.Windows.dll" Guid="b410e49f-20a5-48ee-a685-8ed85c658331">
        <File Id="System.Security.Principal.Windows.dll" Source="$(var.BUILDPATH)\System.Security.Principal.Windows.dll" />
      </Component>
      <Component Id="System.Security.SecureString.dll" Guid="daae1094-a5ce-4047-bd1c-d70aec7ba0d6">
        <File Id="System.Security.SecureString.dll" Source="$(var.BUILDPATH)\System.Security.SecureString.dll" />
      </Component>
      <Component Id="System.Threading.Overlapped.dll" Guid="cc0cf0c3-987a-49b7-b9ed-2c328877d267">
        <File Id="System.Threading.Overlapped.dll" Source="$(var.BUILDPATH)\System.Threading.Overlapped.dll" />
      </Component>
      <Component Id="System.Xml.XPath.XDocument.dll" Guid="764c7122-3fe2-42ef-9682-2345de208bc9">
        <File Id="System.Xml.XPath.XDocument.dll" Source="$(var.BUILDPATH)\System.Xml.XPath.XDocument.dll" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
